#main, #logo, #menubar, #footer{ 
 margin-left: auto; 
 margin-right: auto;
}

#header{ 
 background-color: #000;
 border-bottom: 1px solid #3d3d3d;
 height: 186px;
}

#logo{ 
 width: 880px;
 position: relative;
 height: 140px; 
}
  
#logoimg{  
 background-image: url(images/capital-one-logo.png);
 background-size: contain;
 background-repeat: no-repeat;
 max-width: 100%;
 max-height: 100%;
 width: 115px;
 height: 140px;
 float: right;
}

#jarvisGeneral{
 background-image: url(images/Jarvis_General.png);
 background-size: contain;
 background-repeat: no-repeat;
 width: 770px;
 height: 564px;
 margin-bottom: 20px;
 margin-top: 20px;
 border: 10px solid #DDD;
 margin-left: auto;
 margin-right: auto; 
}

#mainHelp{  
 background-image: url(images/Main_Help.png);
 background-size: contain;
 background-repeat: no-repeat;
 width: 732px;
 height: 590px;
 margin-bottom: 20px;
 margin-top: 20px;
 border: 10px solid #DDD;
 margin-left: auto;
 margin-right: auto; 
}

#ec2status{  
 background-image: url(images/ec2status.png);
 background-size: contain;
 background-repeat: no-repeat;
 width: 770px;
 height: 338px;
 margin-bottom: 20px;
 margin-top: 20px;
 border: 10px solid #DDD;
 margin-left: auto;
 margin-right: auto; 
}

#ami{  
 background-image: url(images/ami.png); 
 background-repeat: no-repeat;
 width: 720px;
 height: 315px;
 margin-bottom: 20px;
 margin-top: 20px;
 border: 10px solid #DDD;
 margin-left: auto;
 margin-right: auto;
}

#ec2cpu{  
 background-image: url(images/ec2cpu.png);
 background-size: contain;
 background-repeat: no-repeat;
 width: 770px;
 height: 475px;
 margin-bottom: 20px;
 margin-top: 20px;
 border: 10px solid #DDD;
 margin-left: auto;
 margin-right: auto; 
}

#ec2disk{  
 background-image: url(images/ec2disk.png);
 background-size: contain;
 background-repeat: no-repeat;
 width: 770px;
 height: 475px;
 margin-bottom: 20px;
 margin-top: 20px;
 border: 10px solid #DDD;
 margin-left: auto;
 margin-right: auto; 
}

#ec2network{  
 background-image: url(images/ec2network.png);
 background-size: contain;
 background-repeat: no-repeat;
 width: 770px;
 height: 475px;
 margin-bottom: 20px;
 margin-top: 20px;
 border: 10px solid #DDD;
 margin-left: auto;
 margin-right: auto; 
}

#ec2info{  
 background-image: url(images/ec2info.png);
 background-size: contain;
 background-repeat: no-repeat;
 width: 770px;
 height: 340px;
 margin-bottom: 20px;
 margin-top: 20px;
 border: 10px solid #DDD;
 margin-left: auto;
 margin-right: auto; 
}

#ec2net{  
 background-image: url(images/ec2net.png);
 background-size: contain;
 background-repeat: no-repeat;
 width: 770px;
 height: 340px;
 margin-bottom: 20px;
 margin-top: 20px;
 border: 10px solid #DDD;
 margin-left: auto;
 margin-right: auto; 
}

#ec2ebs{  
 background-image: url(images/ec2ebs.png);
 background-size: contain;
 background-repeat: no-repeat;
 width: 770px;
 height: 455px;
 margin-bottom: 20px;
 margin-top: 20px;
 border: 10px solid #DDD;
 margin-left: auto;
 margin-right: auto; 
}

#ec2bytag{  
 background-image: url(images/ec2bytag.png);
 background-size: contain;
 background-repeat: no-repeat;
 width: 770px;
 height: 455px;
 margin-bottom: 20px;
 margin-top: 20px;
 border: 10px solid #DDD;
 margin-left: auto;
 margin-right: auto; 
}

#s3bytag{  
 background-image: url(images/s3bytag.png);
 background-size: contain;
 background-repeat: no-repeat;
 width: 770px;
 height: 435px;
 margin-bottom: 20px;
 margin-top: 20px;
 border: 10px solid #DDD;
 margin-left: auto;
 margin-right: auto; 
}

#s3objects{  
 background-image: url(images/s3objects.png);
 background-size: contain;
 background-repeat: no-repeat;
 width: 750px;
 height: 600px;
 margin-bottom: 20px;
 margin-top: 20px;
 border: 10px solid #DDD;
 margin-left: auto;
 margin-right: auto; 
}

#s3acl{  
 background-image: url(images/s3acl.png);
 background-size: contain;
 background-repeat: no-repeat;
 width: 770px;
 height: 365px;
 margin-bottom: 20px;
 margin-top: 20px;
 border: 10px solid #DDD;
 margin-left: auto;
 margin-right: auto; 
}

#s3policy{  
 background-image: url(images/s3policy.png);
 background-size: contain;
 background-repeat: no-repeat;
 width: 770px;
 height: 400px;
 margin-bottom: 20px;
 margin-top: 20px;
 border: 10px solid #DDD;
 margin-left: auto;
 margin-right: auto; 
}

#s3info{  
 background-image: url(images/s3info.png);
 background-size: contain;
 background-repeat: no-repeat;
 width: 770px;
 height: 400px;
 margin-bottom: 20px;
 margin-top: 20px;
 border: 10px solid #DDD;
 margin-left: auto;
 margin-right: auto; 
}

#s3logging{  
 background-image: url(images/s3logging.png);
 background-size: contain;
 background-repeat: no-repeat;
 width: 770px;
 height: 365px;
 margin-bottom: 20px;
 margin-top: 20px;
 border: 10px solid #DDD;
 margin-left: auto;
 margin-right: auto; 
}

#main{
 background-color: #FFFFFF;
 padding-top: 1px;
 padding-right: 10px;
 padding-bottom: 10px;
 padding-left: 10px;
 width: 860px;
 display: block;
}

table{
 padding: 20 20 20 20;
 margin: 0 auto;
}

table td h3{
 text-align: center;
}

body{ 
 font: normal .80em 'trebuchet ms', arial, sans-serif;
 background: #000;
 color: #555;
}

p{ 
 padding: 0 0 20px 0;
 line-height: 1.7em;
}

img{ 
 border: 0;
}

h1, h2, h3, h4, h5, h6 { 
 color: #362C20;
 letter-spacing: 0em;
 padding: 0 0 5px 0;
}

h1, h2, h3{ 
 font: normal 170% 'century gothic', arial;
 margin: 0 0 15px 0;
 padding: 15px 0 5px 0;
 color: #000;
}

h2{ 
 font-size: 160%;
 padding: 9px 0 5px 0;
 color: #B48A7C;
}

h3{ 
 font-size: 140%;
 padding: 5px 0 0 0;
}

h4, h6{ 
 color: #B48A7C;
 padding: 0 0 5px 0;
 font: normal 110% arial;
 text-transform: uppercase;
}

h5, h6{
 color: #888;
 font: normal 95% arial;
 letter-spacing: normal;
 padding: 0 0 15px 0;
}

#logo #logo_text { 
 position: absolute; 
 top: 10px;
 left: 160px;
}

#logo h1, #logo h2{ 
 font: normal 300% 'century gothic', arial, sans-serif;
 border-bottom: 0;
 text-transform: none;
 margin: 0 0 0 9px;
}

#logo_text h1, #logo_text h1 a { 
 padding: 22px 0 0 0;
 color: #FFF;
 letter-spacing: 0.1em;
 text-decoration: none;
 transition: color 1s linear;
}

#logo_text h1 a .logo_color{ 
 color: #5E4238;
}

#logo_text a:hover .logo_color, #logo_text h1 a:hover{ 
 color: #5E4238;
}

#logo_text h2{ 
 font-size: 120%;
 padding: 4px 0 0 0;
 color: #B48A7C;
}

#menubar{
 width: 872px;
 height: 45px;
 padding-right: 8px;
 background: #2D2D2D;
 border-top: 1px solid #3D3D3D;
} 

ul#menu{
 list-style-type: none;
 float: none;
 margin: 0;
}

ul#menu li ul{
 position: absolute;
}

ul#menu .subNav ul{
 display: none;
}

ul#menu .subNav:hover ul{
 border: 5px 5px 5px 5px solid black;
 display: block;
 display: transparent;
 width: 0;
 padding: 0 0 0 0;
}

ul#menu .subNav:hover ul li{
 position: relative;
 padding: 0 0 0 0;
 margin: 0 0 0 0;
 width: 120px;
 text-align: center;
}

ul#menu li{ 
 float: left;
 padding: 0 0 0 9px;
 list-style: none;
 margin: 8px 4px 0 4px;
}

ul#menu li a{ 
 font: normal 100% 'trebuchet ms', sans-serif;
 display: block; 
 float: none; 
 height: 20px;
 padding: 5px 20px 5px 20px;
 text-align: center;
 color: #FFF;
 text-decoration: none;
 background: #5E4238;
} 

ul#menu li.selected a{ 
 height: 20px;
 padding: 6px 20px 5px 11px;
}

ul#menu li.selected{ 
 margin: 8px 4px 0 13px;
 background: #B48A7C;
}

ul#menu li.selected a, ul#menu li.selected a:hover{ 
 background: #B48A7C;
 color: #FFF;
}

ul#menu li a:hover{ 
 color: #B48A7C;
}

#footer{ 
 width: 100%;
 font-family: 'trebuchet ms', sans-serif;
 width: 880px;
 height: 100px; 
 font-size: 100%;
 padding: 28px 0 5px 0;
 text-align: center; 
 background: #000;
 border-top: 2px solid #2D2D2D;
 color: #FFF;
}

#capitalone{
 background-image: url(capitalone5.png);
 background-size: contain;
 background-repeat: no-repeat;
 max-width: 100%;
 max-height: 100%;
 width: 130px;
 height: 50px;
 float: left;
}

#footer p{ 
 line-height: 1.7em;
 padding: 0 0 10px 0;
}

#footer a{ 
 color: #FFF;
 text-decoration: none;
}

#footer a:hover{ 
 color: #B48A7C;
 text-decoration: none;
}